@import "tailwindcss";

@theme {
  /* CORES */
  --color-primary: #F59E0B;
  --color-background: #0F1117;
  --color-surface: #1A1D27;
  --color-border: #2A2D3A;
  --color-success: #10B981;
  --color-danger: #EF4444;
  --color-info: #06B6D4;

  /* FONTES */
--font-family-display: 'Syne', sans-serif;
--font-family-mono:    'JetBrains Mono', monospace;
--font-family-sans:    'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0F1117;
  color: #F8F8F2;
  font-family: 'DM Sans', sans-serif;
}